<article class='post-view container'>
  <h1><%= @post.title %></h1>
  <span class='author'><%= "By #{author_name(@post.user)}" %></span>
  <span class='time'><%= human_date(@post.published_at) %></span>
  <p class='tags'>
  <% if @post.tags do %>
    <%= for tag <- @post.tags do %>
      <span class='tag'><%= tag %></span>
    <% end %>
  <% end %>
  </p>
  <div class='content'>
    <% if @post.body do %>
      <%= markdown_to_html(@post.body) %>
    <% end %>
    </a>
  </div>
</article>
