<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url>
    <loc><%= page_url(@conn, :index) %></loc>
    <changefreq>weekly</changefreq>
  </url>
  <%= for post <- @posts do %>
    <url>
      <loc><%= page_url(@conn, :show, post.permalink) %></loc>
      <changefreq>weekly</changefreq>
    </url>
  <% end %>
</urlset>
