.down-arrow {
  width: 50px;
  height: 18px;
  background: url('/images/sprites.png') 0px 0px no-repeat;
}


.fa-exclamation-circle {
  width: 31px;
  height: 31px;
  background: url('/images/sprites.png') 0px -18px no-repeat;
}

.fa-github-orange{
  width: 28px;
  height: 27px;
  background: url('/images/sprites.png') -50px 0px no-repeat;
}

.fa-github-white {
  width: 28px;
  height: 27px;
  background: url('/images/sprites.png') 0px -49px no-repeat;
}

.fa-twitter-white {
  width: 28px;
  height: 24px;
  background: url('/images/sprites.png') -28px -49px no-repeat;
}

.fa-twitter-orange {
  width: 28px;
  height: 24px;
  background: url('/images/sprites.png') -78px 0px no-repeat;
}

.fa-map-marker-orange {
  width: 19px;
  height: 28px;
  background: url('/images/sprites.png') -31px -18px no-repeat;
}

.fa-map-marker-white {
  width: 19px;
  height: 28px;
  background: url('/images/sprites.png') -78px -24px no-repeat;
}

.top {
  width: 13px;
  height: 8px;
  background: url('/images/sprites.png') -78px -52px no-repeat;
}
