@import 'variables';
@import 'mixings';

.admin {
  header {
    background-color: white;
    border-bottom: 1px solid $gray;

    a {
      color: $orange;
    }
  }

  h2 {
    margin-top: 160px;
  }
}
