@import 'variables';
@import 'mixings';

.admin {
  header {
    background-color: white;
    border-bottom: 1px solid $gray;

    a {
      color: $blue;

      &:hover {
        color: $blue;
      }
    }
  }

  h2 {
    margin-top: 160px;
    color: $blue;
  }

  h3 {
    margin-bottom: 0;
  }

  .primary-button {
    margin-top: 3em;
    padding: .8em 1.6em;
    border: 1px solid white;
    padding-left: 1em;
    color: white;
    background-color: $blue;
    transition: all .5s ease;

    &:hover {
      background-color: white;
      border: 1px solid $blue;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto 3em auto;
  }

  .pure-table {
    width: 100%;

    .permalink {
      color: $blue;
      margin-top: 0.5em;
      margin: 0
    }

    .tags {
      font-size: 0.8em;
      margin-top: 0;
    }

    form.link {
      display: inline-block;
      float: right;
    }
  }

  .post-view {
    margin: 120px auto;

    width: 90%;
    max-width: 700px;
  }

  .form-group, .form-group-1-2 {
    margin-bottom: 1.5em;

    .summary {
      height: 10em;
    }

    .body {
      height: 50em;
    }
  }

  .form-group-1-2 {
    display: inline-block;
    width: 49.8%;
  }
}
