<section class='posts container'>
  <%= for post <- @posts do %>
    <article id='<%= "post_#{post.id}" %>' class='post'>
      <h2><a href='<%= page_path(@conn, :show, post.permalink) %>'><%= post.title %></a></h2>
      <span class='author'>By Michelada.io</span>
      <span class='time'><%= human_date(post.inserted_at) %></span>
      <p><%= post.summary %></p>
    </article>
  <% end %>
</section>
